<template name="leaderboard">
	<ul>
	    {{#each player}}
	        <li class="player {{selectedClass}}">{{name}}: {{score}}</li>
	    {{/each}}
	    	<li>
	    		<input type="button" class="increment" value="Give 3 Points">
	    		<input type="button" class="decrement" value="Take 2 Points">
	    		<input type="button" class="remove" value="Remove Team">
    		</li>
    		{{#if showSelectedPlayer}}
			    <li>Selected Player: {{showSelectedPlayer.name}}</li>
			{{/if}}
	</ul>
</template>